html, body, #app {
    background-color: #000000;
}
 body{
    font-size:14px;
}
.navbar {
    background-color: #0a1013;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    height: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.white {
    color: white;
}
.lightgrey {
    color: lightgrey;
}

.left-menu {
    border-left:1px solid darkgrey;
    padding: .5rem;
    padding-left: 1.5rem;
    margin:0!important;
}
.navbar {
    border-bottom:1px solid darkgrey;
}

.user-info {
    line-height: 1.1rem;
}

.text-size-15 {
    font-size: 1.5rem;
}
.text-size-2 {
    font-size: 2rem;
}
.text-size-4 {
    font-size: 4rem;
}

.list-group-item {
    padding: 0.25rem 1.25rem!important;
}

i.far, i.fab, i.fas {
    vertical-align: middle;
}

.cursmall {
    font-size:.8rem;
    color:grey;
}
.cursmall span {
    font-weight: bold;
}
.cur-block{
    line-height: 1rem;
}
.form-holder {
    max-width: 800px;
    margin: 1.75rem auto;
    position: relative;
    width: auto;
    pointer-events: none;
}

.jumbotron {
    padding: 1rem!important;
    margin: 0!important;
}

.modal-content {
    border-radius: 0!important;
}

.dark-footer {
    background: #1c1f22;
}
.dark-footer.navbar {
    border-bottom: 0!important;
    border-radius: initial;
}
.dark-footer.navbar a.nav-link {
   font-size: .8rem;
    text-decoration: underline;
    text-underline: #2c3e50;
    white-space: nowrap;
}
.dark-footer .navbar-nav a:last-child i {
    margin-right:0!important;
    padding-right:0!important;
}

.dark-footer .navbar-nav:first-child li:first-child a {
    margin-left:0!important;
    padding-left:0!important;
}

.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0!important;padding-bottom: 0!important;}
.btn { margin-bottom:10px; }